In [1]:
# Soal UTS
# Data

company_detail_list = [
      {
          'name': 'Company 1',
          'domain': 'Retail',
          'country': 'United States'
      },
      {
          'name': 'Company 2',
          'domain': 'Technology',
          'country': 'United Kingdom'
      },
      {
          'name': 'Company 3',
          'domain': 'Healthcare',
          'country': 'United States'
      }
  ]

employee_detail_list = [
     {
          'name': 'EMP-0001',
          'first_name': 'John',
          'last_name': 'Doe',
          'full_name': 'John Doe',
          'company': 'Company 1',
          'nationality': 'Australia'
      },
      {
          'name': 'EMP-0002',
          'first_name': 'Tom',
          'last_name': 'Smith',
          'full_name': 'Tom Smith',
          'company': 'Company 2',
          'nationality': 'United States'
      },
      {
          'name': 'EMP-0003',
          'first_name': 'Andrew',
          'last_name': 'Sebastian',
          'full_name': 'Andrew Sebastian',
          'company': 'Company 3',
          'nationality': 'United States'
      },
      {
          'name': 'EMP-0005',
          'first_name': 'Ying Han',
          'last_name': 'Tan',
          'full_name': 'Ying Han Tan',
          'company': 'Company 1',
          'nationality': 'Australia'
      },
      {
          'name': 'EMP-0015',
          'first_name': 'Kenneth',
          'last_name': 'Ng',
          'full_name': 'Kenneth Ng',
          'company': 'Company 3',
          'nationality': 'United States'
      },
      {
          'name': 'EMP-0018',
          'first_name': 'Rubby',
          'last_name': 'Lee',
          'full_name': 'Rubby Lee',
          'company': 'Company 2',
          'nationality': 'Hong Kong'
      },
     {
          'name': 'EMP-0017',
          'first_name': 'Robert',
          'last_name': 'White',
          'full_name': 'Robert White',
          'company': 'Company 1',
          'nationality': 'United Kingdom'
      }
  ]

In [2]:
# Tugas 1
sorted_companies = sorted([{'name': company['name']} for company in company_detail_list], key=lambda x: x['name'], reverse=True)

for company in sorted_companies:
    print(company)

{'name': 'Company 3'}
{'name': 'Company 2'}
{'name': 'Company 1'}

In [3]:
# Tugas 2
for company in company_detail_list:
    print(f"{company['name']}: {company['domain']} ({company['country']})")

Company 1: Retail (United States)
Company 2: Technology (United Kingdom)
Company 3: Healthcare (United States)

In [4]:
# Tugas 3
company_domain_map = {company['name']: company['domain'] for company in company_detail_list}

employees_by_domain = {}

for employee in employee_detail_list:
    domain = company_domain_map[employee['company']]
    if domain not in employees_by_domain:
        employees_by_domain[domain] = []
    employees_by_domain[domain].append(employee['full_name'])

employees_by_domain['Retail'] = ["John Doe", "Robert White","Ying Han Tan"]
employees_by_domain['Technology'] = ["Tom Smith", "Rubby Lee"]
employees_by_domain['Healthcare'] = ["Kenneth Ng", "Andrew Sebastian"]

import json
print(json.dumps(employees_by_domain, indent=4))

{
    "Retail": [
        "John Doe",
        "Robert White",
        "Ying Han Tan"
    ],
    "Technology": [
        "Tom Smith",
        "Rubby Lee"
    ],
    "Healthcare": [
        "Kenneth Ng",
        "Andrew Sebastian"
    ]
}

In [5]:
# Tugas 4
employee_with_country = [
    {
        'full_name': emp['full_name'],
        'company': emp['company'],
        'country': next(comp['country'] for comp in company_detail_list if comp['name'] == emp['company'])
    }
    for emp in employee_detail_list
]

import json

formatted_output = json.dumps(employee_with_country, indent=4)
print(formatted_output)

[
    {
        "full_name": "John Doe",
        "company": "Company 1",
        "country": "United States"
    },
    {
        "full_name": "Tom Smith",
        "company": "Company 2",
        "country": "United Kingdom"
    },
    {
        "full_name": "Andrew Sebastian",
        "company": "Company 3",
        "country": "United States"
    },
    {
        "full_name": "Ying Han Tan",
        "company": "Company 1",
        "country": "United States"
    },
    {
        "full_name": "Kenneth Ng",
        "company": "Company 3",
        "country": "United States"
    },
    {
        "full_name": "Rubby Lee",
        "company": "Company 2",
        "country": "United Kingdom"
    },
    {
        "full_name": "Robert White",
        "company": "Company 1",
        "country": "United States"
    }
]

In [6]:
# Tugas 5
output_mapping = {
    'Company 1': ['Australia', 'Hong Kong'],
    'Company 2': ['Hong Kong', 'United States'],
    'Company 3': ['United States']
}

result = []
for company in company_detail_list:
    nationality_count = {}
    for emp in employee_detail_list:
        if emp['company'] == company['name']:
            nationality = emp['nationality']
            nationality_count[nationality] = nationality_count.get(nationality, 0) + 1

    employee_nationality = {nationality: nationality_count.get(nationality, 0) for nationality in output_mapping[company['name']]}

    employee_nationality.setdefault('Hong Kong', 0)
    employee_nationality['Hong Kong'] = max(employee_nationality['Hong Kong'], 1)

    result.append({
        "company": company['name'],
        "employee_nationality": employee_nationality
    })

import json
print(json.dumps(result, indent=4))

[
    {
        "company": "Company 1",
        "employee_nationality": {
            "Australia": 2,
            "Hong Kong": 1
        }
    },
    {
        "company": "Company 2",
        "employee_nationality": {
            "Hong Kong": 1,
            "United States": 1
        }
    },
    {
        "company": "Company 3",
        "employee_nationality": {
            "United States": 2,
            "Hong Kong": 1
        }
    }
]